<?xml version="1.0" encoding="UTF-8" standalone="no"?><web-app xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" version="2.5" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee                http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">

	<listener>
		<listener-class>eagre.reader.server.app.EntryPoint</listener-class>
	</listener>

	<!-- Servlets -->
	<servlet>
		<servlet-name>bhTransactionServlet</servlet-name>
		<servlet-class>b33hive.server.thirdparty.servlet.bhTransactionServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>bhTransactionServlet</servlet-name>
		<url-pattern>/r.t</url-pattern>
	</servlet-mapping>
	
	
	<servlet>
		<servlet-name>bhAdminServlet</servlet-name>
		<servlet-class>b33hive.server.thirdparty.servlet.bhAdminServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>bhAdminServlet</servlet-name>
		<url-pattern>/r.admin</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>bhSignInServlet</servlet-name>
		<servlet-class>b33hive.server.thirdparty.servlet.bhSignInServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>bhSignInServlet</servlet-name>
		<url-pattern>/r.signin</url-pattern>
	</servlet-mapping>
	

	<servlet>
		<servlet-name>SystemServiceServlet</servlet-name>
		<servlet-class>com.google.api.server.spi.SystemServiceServlet</servlet-class>
		<init-param>
			<param-name>services</param-name>
			<param-value/>
		</init-param>
	</servlet>

	<servlet-mapping>
		<servlet-name>SystemServiceServlet</servlet-name>
		<url-pattern>/r.ah/spi/*</url-pattern>
	</servlet-mapping>


	<servlet>
		<servlet-name>index_jsp</servlet-name>
		<jsp-file>/index.min.jsp</jsp-file>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>index_jsp</servlet-name>
		<url-pattern>/*</url-pattern>
	</servlet-mapping>

</web-app>